.main-content, .title-div {
    max-width: 1250px;
    margin: 50px auto;
}

.main-content{
    margin-bottom: 25px;
    color: #555;
}

.quiz-form {
    padding: 20px 0;
}

.form-field {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc; 
    width: 100%;
}

.form-field label {
    display: block;
    font-size: 0.85em; 
    color: #667; 
    margin-bottom: 5px;
    text-transform: uppercase;
}


.dropdown {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1em;
    color: #333; 
    cursor: pointer;
}

.dropdown option {
    color: #333;
}