.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.rtitle{
  font-size: 5rem;
  font-weight: 700;
  color: var(--green-color);
  margin-bottom: 1rem;
}

.rresults {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.tbtn {
  background-color: var(--green-color);
  font-weight: 700;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .rtitle {
    font-size: 2.5rem;
  }

  .rresults {
    font-size: 1.5rem;
  }

  .tbtn {
    padding: 0.75rem 1.25rem;
    font-size: 0.9rem;
  }
}
